* {
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
color: white;
}
html{
    scroll-behavior: smooth;
}
ul {
    display: flex;
    justify-content: end;
    background-color: #BE3144;
    padding-right: 15px;
}
li{
    list-style: none;
    padding: 20px 15px;

}
.navcontainer{
    position: fixed;
    width: 100%;
}
.navbarA{
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
li:hover{
    background-color: #45567D;
}
.hero{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #2A2C2E;
    align-items: center;
    justify-content: center;
}
.intro{
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.sub{
    color: #BE3144;
    font-size: 1.8rem;
    font-style: italic;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    
}
.projects{
    background-color: #45567D;
}
.projectGrid{
    display: grid;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-direction: row;

}

.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    margin-top: 30px;
    text-decoration: none;
}
.cardImage{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.cardText{
    background-color: #303841;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    
    
}
.projectHeadings{
    
    display: flex;
    justify-content: center;
    padding-top: 60px;
    
}
.projectHeading{
    color: white;
    font-size: 2.8rem;
    border-bottom: 2px solid white;
}
.button{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.button1{
    padding: 15px;
    background-color: #303841;
    color: white;
    border: none;
    font-size: 1.2rem;
}
.button1:hover {
    background-color: #BE3144;
    border-radius: 3px;
    
}
.code{
    color: #303841;
}
.cardText:hover .code{
    margin: 0px 5px;
    color: #BE3144;
}
.Contact{
    background-color: #303841;
    padding: 150px;
}
.contactName{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
.workT{
    font-size: 3.8rem;
}
.coffe{
    font-weight: 200;
    font-style: italic;
}
.social{
    display: flex;
    justify-content: space-around;
}
.socialIcon{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
}
.socialText{
    font-style: none;
    margin-left: 10px;
}
#fontAwsome{
    font-size: 40px;
}
footer{
font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #303841;
    border-top: 4px solid #BE3144;
    font-size: 1.1rem;
}